
/node_modules
/coverage

/secrets.md

.env
.env.backup
.tmp

bash.exe.stackdump

.~lock.*
*~lock~
other/integration-tests/videos/.last-run.json
other/integration-tests/videos/**/*.webm


/logs
/.logs
# <- TODO: !!!!! Take one of these two log folders and remove the other one. We should only have one log folder from Agents server