.AvatarProfileTooltip {
    position: fixed;
    z-index: 1000;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 320px;
    max-width: 90vw;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: -9px;
    left: 28px;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #ffffff transparent;
    filter: drop-shadow(0 -3px 4px rgba(15, 23, 42, 0.15));
}
