.MenuHamburger {
    cursor: pointer;
    /* <- Note: @see http://elektronotdienst-nuernberg.de/bugs/cursor.html */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.MenuHamburger .MenuHamburgerInner {
    width: 24px;
    height: 18px; /* Approximate height of 3 bars + gaps */
    position: relative;
}

.MenuHamburger .MenuHamburgerInner .bar {
    height: 2px;
    width: 100%;
    background-color: currentColor;
    display: block;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    transform-origin: center;
}

.MenuHamburger .MenuHamburgerInner .bar.bar1 {
    top: 0;
}

.MenuHamburger .MenuHamburgerInner .bar.bar2 {
    top: 50%;
    transform: translateY(-50%);
}

.MenuHamburger .MenuHamburgerInner .bar.bar3 {
    bottom: 0;
}

.MenuHamburger .MenuHamburgerInner.open .bar.bar1 {
    top: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
}

.MenuHamburger .MenuHamburgerInner.open .bar.bar2 {
    opacity: 0;
}

.MenuHamburger .MenuHamburgerInner.open .bar.bar3 {
    bottom: 50%;
    transform: translateY(50%) rotateZ(45deg);
}
