.MenuHamburger {
    cursor: pointer;
    /* <- Note: @see http://elektronotdienst-nuernberg.de/bugs/cursor.html */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.MenuHamburger .MenuHamburgerInner {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuHamburger .MenuHamburgerInner .bar {
    height: 2px;
    width: 100%;
    background-color: currentColor;
    display: block;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: absolute;
}

.MenuHamburger .MenuHamburgerInner .bar.bar1 {
    transform: translateY(-7px);
}

.MenuHamburger .MenuHamburgerInner .bar.bar2 {
    transform: translateY(0);
    opacity: 1;
}

.MenuHamburger .MenuHamburgerInner .bar.bar3 {
    transform: translateY(7px);
}

.MenuHamburger .MenuHamburgerInner.open .bar.bar1 {
    transform: translateY(0) rotate(45deg);
}

.MenuHamburger .MenuHamburgerInner.open .bar.bar2 {
    opacity: 0;
    transform: translateX(-10px);
}

.MenuHamburger .MenuHamburgerInner.open .bar.bar3 {
    transform: translateY(0) rotate(-45deg);
}
